[Unit]
Description=kube-proxy

[Service]
ExecStart=/usr/bin/kube-proxy --bind-address=0.0.0.0 --master=$api_server_endpoint
Restart=always

[Install]
WantedBy=multi-user.target
