[Unit]
Description=kubelet

[Service]
ExecStart=/usr/bin/kubelet --address=0.0.0.0 --api-servers=$api_server_endpoint --hostname-override=$ip_address --allow-privileged=true --network-plugin=cni --node-labels=$node_labels
Restart=always

[Install]
WantedBy=multi-user.target
