[Unit]
Description=kubelet

[Service]
ExecStart=/usr/bin/kubelet --address=0.0.0.0 --fail-swap-on=false --hostname-override=$ip_address --allow-privileged=true --network-plugin=cni --node-labels=$node_labels --tls-private-key-file=/etc/k8s/server.key --tls-cert-file=/etc/k8s/server.crt --kubeconfig=/etc/k8s/kubeconfig.kubelet
Restart=always

[Install]
WantedBy=multi-user.target
